# Country Capital

In [498]:
import pandas as pd
countryCapital = pd.read_csv('countrycapital.csv', encoding = "ISO-8859-1")
countryCapital.head()

,SYMBOL,COUNTRY,CAPITAL,LATITUDE,LONGITUDE,CONTINENT
0,NaN,SOMALILAND,HARGEISA,9.550000,44.050000,AFRICA
1,GS,SOUTH GEORGIA AND SOUTH SANDWICH ISLANDS,KING EDWARD POINT,-54.283333,-36.500000,ANTARCTICA
2,TF,FRENCH SOUTHERN AND ANTARCTIC LANDS,PORT-AUX-FRANAIS,-49.350000,70.216667,ANTARCTICA
3,PS,PALESTINE,JERUSALEM,31.766667,35.233333,ASIA
4,AX,ALAND ISLANDS,MARIEHAMN,60.116667,19.900000,EUROPE

In [499]:
# text to list

test = '3/DK/454/IK/MARSHALL ISLANDS/'

test = test.upper()
test = re.sub('\W',' ',test)
test = re.sub('\d',' ',test)
test = test.split()

test

['DK', 'IK', 'MARSHALL', 'ISLANDS']

In [501]:
# source symbol

index = 0
     
# find symbol from text and return country
idx = index
while idx < len(test):
      if len(test[idx])==2:
         country = countryCapital.loc[countryCapital['SYMBOL']==test[idx],'COUNTRY']  
         if len(country) !=0 :
             break
         else:
             idx+= 1            
      else: 
         idx+= 1

print(country)
print(index)

66    DENMARK
Name: COUNTRY, dtype: object
0

In [502]:
# source country

def country (test):
    print(test)
    index = 0
    stringToCountry = []
    while index < len(test):
        idx = index
        while idx < len(test):
            country = countryCapital.loc[countryCapital['COUNTRY']==test[idx],'COUNTRY']
            if len(country) != 0:
               return country
            else :
                stringToCountry.append( ' '.join(test[index:idx+1]))
                country = countryCapital.loc[countryCapital['COUNTRY']== stringToCountry[-1],'COUNTRY']
                if len(country) != 0:
                  return country
                  
            idx+=1    
        index +=1

In [503]:
# text to list

test = '3/DK/454/IK/HARGEISA/dsadaa'

test = test.upper()
test = re.sub('\W',' ',test)
test = re.sub('\d',' ',test)
test = test.split()

test

['DK', 'IK', 'HARGEISA', 'DSADAA']

In [504]:
# source capital

def capital (test):
    index = 0
    stringToCapital = []
    while index < len(test):
        idx = index
        while idx < len(test):
            capital = countryCapital.loc[countryCapital['CAPITAL']==test[idx],'CAPITAL']
            if len(capital) != 0:
               return capital
            else :
                stringToCapital.append( ' '.join(test[index:idx+1]))
                capital = countryCapital.loc[countryCapital['CAPITAL']== stringToCapital[-1],'CAPITAL']
                if len(capital) != 0:
                  return capital
                  
            idx+=1    
        index +=1

In [505]:
x = capital (test)
x

0    HARGEISA
Name: CAPITAL, dtype: object

**Module**

In [506]:
# source

class CountryCapital :
    
    def __init__(self):
        import pandas as pd 
        
        self.countryCapital_tbl = pd.read_csv('countrycapital.csv', encoding = "ISO-8859-1")
        self.string = string
        self.symbol = None
        
        
    def to_upperCase(self, string):
        self.string = self.string.upper()
        self.string = re.sub('\W',' ',self.string)
        self.string = re.sub('\d',' ',self.string)
        self.string = self.string.split()
        return self.string
    
    
    def Symbol_to_country (self, string ):

        self.string = self.to_upperCase(string)
        index = 0
        idx = index
        
        while idx < len(self.string):
              if len(self.string[idx])==2:
                 country = self.countryCapital_tbl.loc[self.countryCapital_tbl['SYMBOL']==self.string[idx],'COUNTRY']  
                 if len(country) !=0 :
                     return country
                 else:
                     idx+= 1            
              else: 
                 idx+= 1
            

    def country_from_text (self, string):
        
        self.string = self.to_upperCase(string)
        index = 0
        stringToCountry = []
        
        while index < len(self.string):
            idx = index
            while idx < len(self.string):
                country = self.countryCapital_tbl.loc[self.countryCapital_tbl['COUNTRY']==self.string[idx],'COUNTRY']
                if len(country) != 0:
                   return country
                else :
                    stringToCountry.append( ' '.join(self.string[index:idx+1]))
                    country = self.countryCapital_tbl.loc[self.countryCapital_tbl['COUNTRY']== stringToCountry[-1],'COUNTRY']
                    if len(country) != 0:
                      return country

                idx+=1    
            index +=1    
        
      
    
    def capital (self, string):
        
        self.string = self.to_upperCase(string)
        index = 0
        stringToCapital = []
        while index < len(self.string):
            idx = index
            while idx < len(self.string):
                capital = countryCapital.loc[countryCapital['CAPITAL']==self.string[idx],'CAPITAL']
                if len(capital) != 0:
                   return capital
                else :
                    stringToCapital.append( ' '.join(self.string[index:idx+1]))
                    capital = countryCapital.loc[countryCapital['CAPITAL']== stringToCapital[-1],'CAPITAL']
                    if len(capital) != 0:
                      return capital

                idx+=1    
            index +=1

In [507]:
string = '3/5656/454/IK/HARGEISA/DK'
x= CountryCapital().Symbol_to_country(string)
x

66    DENMARK
Name: COUNTRY, dtype: object

In [509]:
string = '3/5656/454/IK/HARGEISA/DK'
x= CountryCapital().capital(string)
x

0    HARGEISA
Name: CAPITAL, dtype: object

In [510]:
string = '3/5656/454/IK/HARGEISA/israel'
x= CountryCapital().country_from_text(string)
x

109    ISRAEL
Name: COUNTRY, dtype: object