# Countries and Cities

In [1]:
from bs4 import BeautifulSoup
import requests
import json
import pandas as pd

In [2]:
url = "https://countriesnow.space/api/v0.1/countries/population/cities"
response = requests.get(url)
data = response.text
soup = BeautifulSoup(data,'html.parser')

cityCountry = pd.DataFrame({"city":[],"country":[]})
for index in json.loads(soup.text)['data']:
    city = index['city'].upper().replace("'","")
    country = index['country'].upper().replace("'","")
    cityCountry = cityCountry.append({"city":city,"country":country}, ignore_index=True)

In [3]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

display(cityCountry.shape)

(4503, 2)

In [4]:
cityCountry.loc[cityCountry["country"]=="ISRAEL",:]

                 city country
2318           ASHDOD  ISRAEL
2319         ASHQELON  ISRAEL
2320          BAT YAM  ISRAEL
2321       BEER SHEVA  ISRAEL
2322       BENE BERAQ  ISRAEL
2323            HAIFA  ISRAEL
2324            HOLON  ISRAEL
2325        JERUSALEM  ISRAEL
2326          NETANYA  ISRAEL
2327      PETAH TIQWA  ISRAEL
2328        RAMAT GAN  ISRAEL
2329          REHOVOT  ISRAEL
2330  RISHON LEZIYYON  ISRAEL
2331    TEL AVIV-YAFO  ISRAEL