# Label_Encoder_contain_missing_values

**This Module give solution for label encoding contain missing values**

Table of content:

  1. Import data
  2. Module 
  3. Execute encoding categorical to numerical
  4. View Table Encoder
  5. View dataset after transformation
  6. Execute Inverse from numerical to categorical
  7. Inverse dataset

### 1. Import Data

You can upload mix dataset to module object and numeric.

For example I will use Kaggle dataset in link below: <br>
https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data?select=train.csv

In [247]:
import pandas as pd
dataset = pd.read_csv(r"C:\Users\Home\Documents\idan\Kaggle\Regression\house_price\train.csv")
df = dataset.copy()

### 2. Module

Module contain 2 parts from numerical to catgegorical and inverse.

In [248]:
class label_encoder_contain_missing_values :

        def __init__ (self) :    
            pass  

        def categorical_to_numeric (self,dataset):
            import numpy as np
            import pandas as pd
            
            self.dataset = dataset
            self.summary = None
            self.table_encoder= {}

            for index in self.dataset.columns :
                if self.dataset[index].dtypes == 'object' :               
                   column_data_frame = pd.Series(self.dataset[index],name='column').to_frame()
                   unique_values = pd.Series(self.dataset[index].unique())
                   i = 0
                   label_encoder = pd.DataFrame({'value_name':[],'Encode':[]})
                   while i <= len(unique_values)-1:
                         if unique_values.isnull()[i] == True : 
                           label_encoder = label_encoder.append({'value_name': unique_values[i],'Encode':np.nan}, ignore_index=True) #np.nan = -1
                         else:
                           label_encoder = label_encoder.append({'value_name': unique_values[i],'Encode':i}, ignore_index=True)
                         i+=1 

                   output = pd.merge(left=column_data_frame,right = label_encoder, how='left',left_on='column',right_on='value_name')
                   self.summary = output[['column','Encode']].drop_duplicates().reset_index(drop=True)
                   self.dataset[index] = output.Encode 
                   self.table_encoder.update({index:self.summary})
                   #print(self.summary)
                   #print('\nFinish encoding :)')
                    
                else :
                     pass
                     
            # ---- Show Encode Table ----- #               
            print('''\nLabel Encoding completed in Successfully.\n
                       Next steps: \n
                       1.  To view table_encoder, Execute the follow: \n
                           for index in table_encoder :
                           print(f'\\n{index} \\n',table_encoder[index])
                           
                       2. For inverse, execute the follow : \n
                          df = label_encoder_contain_missing_values().
                               inverse_numeric_to_categorical(table_encoder, df) ''') 
                        
            return self.table_encoder  ,self.dataset 
        

        def inverse_numeric_to_categorical (self,table_encoder, df):
            dataset = df.copy()
            for column in table_encoder.keys():
                df_column = df[column].to_frame()
                output = pd.merge(left=df_column,right = table_encoder[column], how='left',left_on= column,right_on='Encode')#.rename(columns={'column_x' :'encode','column_y':'category'})
                df[column]= output.column
            print('\nInverse Label Encoding, from categorical to numerical completed in Successfully.\n')
            return df
            
        
# execute encoder
# table_encoder, df = label_encoder_contain_missing_values().categorical_to_numeric(df)

# transform encoder
# df = label_encoder_contain_missing_values().inverse_numeric_to_categorical(table_encoder, df)

### 3. Execute encoding categorical to numerical

In [249]:
table_encoder, df = label_encoder_contain_missing_values().categorical_to_numeric(df)

Label Encoding completed in Successfully.

                       Next steps:

                       1.  To view table_encoder, Execute the follow:

                           for index in table_encoder :
                           print(f'\n{index} \n',table_encoder[index])

                       2. For inverse, execute the follow :

                          df = label_encoder_contain_missing_values().
                               inverse_numeric_to_categorical(table_encoder, df)

### 4. View table_encoder

In [250]:
for index in table_encoder :
    print(f'\n{index} \n',table_encoder[index])

MSZoning
     column  Encode
0       RL     0.0
1       RM     1.0
2  C (all)     2.0
3       FV     3.0
4       RH     4.0

Street
   column  Encode
0   Pave     0.0
1   Grvl     1.0

Alley
   column  Encode
0    NaN     NaN
1   Grvl     1.0
2   Pave     2.0

LotShape
   column  Encode
0    Reg     0.0
1    IR1     1.0
2    IR2     2.0
3    IR3     3.0

LandContour
   column  Encode
0    Lvl     0.0
1    Bnk     1.0
2    Low     2.0
3    HLS     3.0

Utilities
    column  Encode
0  AllPub     0.0
1  NoSeWa     1.0

LotConfig
     column  Encode
0   Inside     0.0
1      FR2     1.0
2   Corner     2.0
3  CulDSac     3.0
4      FR3     4.0

LandSlope
   column  Encode
0    Gtl     0.0
1    Mod     1.0
2    Sev     2.0

Neighborhood
      column  Encode
0   CollgCr     0.0
1   Veenker     1.0
2   Crawfor     2.0
3   NoRidge     3.0
4   Mitchel     4.0
5   Somerst     5.0
6    NWAmes     6.0
7   OldTown     7.0
8   BrkSide     8.0
9    Sawyer     9.0
10  NridgHt    10.0
11    NAmes    11.0
12  SawyerW    12.0
13   IDOTRR    13.0
14  MeadowV    14.0
15  Edwards    15.0
16   Timber    16.0
17  Gilbert    17.0
18  StoneBr    18.0
19  ClearCr    19.0
20  NPkVill    20.0
21  Blmngtn    21.0
22   BrDale    22.0
23    SWISU    23.0
24  Blueste    24.0

Condition1
    column  Encode
0    Norm     0.0
1   Feedr     1.0
2    PosN     2.0
3  Artery     3.0
4    RRAe     4.0
5    RRNn     5.0
6    RRAn     6.0
7    PosA     7.0
8    RRNe     8.0

Condition2
    column  Encode
0    Norm     0.0
1  Artery     1.0
2    RRNn     2.0
3   Feedr     3.0
4    PosN     4.0
5    PosA     5.0
6    RRAn     6.0
7    RRAe     7.0

BldgType
    column  Encode
0    1Fam     0.0
1  2fmCon     1.0
2  Duplex     2.0
3  TwnhsE     3.0
4   Twnhs     4.0

HouseStyle
    column  Encode
0  2Story     0.0
1  1Story     1.0
2  1.5Fin     2.0
3  1.5Unf     3.0
4  SFoyer     4.0
5    SLvl     5.0
6  2.5Unf     6.0
7  2.5Fin     7.0

RoofStyle
     column  Encode
0    Gable     0.0
1      Hip     1.0
2  Gambrel     2.0
3  Mansard     3.0
4     Flat     4.0
5     Shed     5.0

RoofMatl
     column  Encode
0  CompShg     0.0
1  WdShngl     1.0
2    Metal     2.0
3  WdShake     3.0
4  Membran     4.0
5  Tar&Grv     5.0
6     Roll     6.0
7  ClyTile     7.0

Exterior1st
      column  Encode
0   VinylSd     0.0
1   MetalSd     1.0
2   Wd Sdng     2.0
3   HdBoard     3.0
4   BrkFace     4.0
5   WdShing     5.0
6   CemntBd     6.0
7   Plywood     7.0
8   AsbShng     8.0
9    Stucco     9.0
10  BrkComm    10.0
11  AsphShn    11.0
12    Stone    12.0
13  ImStucc    13.0
14   CBlock    14.0

Exterior2nd
      column  Encode
0   VinylSd     0.0
1   MetalSd     1.0
2   Wd Shng     2.0
3   HdBoard     3.0
4   Plywood     4.0
5   Wd Sdng     5.0
6   CmentBd     6.0
7   BrkFace     7.0
8    Stucco     8.0
9   AsbShng     9.0
10  Brk Cmn    10.0
11  ImStucc    11.0
12  AsphShn    12.0
13    Stone    13.0
14    Other    14.0
15   CBlock    15.0

MasVnrType
     column  Encode
0  BrkFace     0.0
1     None     1.0
2    Stone     2.0
3   BrkCmn     3.0
4      NaN     NaN

ExterQual
   column  Encode
0     Gd     0.0
1     TA     1.0
2     Ex     2.0
3     Fa     3.0

ExterCond
   column  Encode
0     TA     0.0
1     Gd     1.0
2     Fa     2.0
3     Po     3.0
4     Ex     4.0

Foundation
    column  Encode
0   PConc     0.0
1  CBlock     1.0
2  BrkTil     2.0
3    Wood     3.0
4    Slab     4.0
5   Stone     5.0

BsmtQual
   column  Encode
0     Gd     0.0
1     TA     1.0
2     Ex     2.0
3    NaN     NaN
4     Fa     4.0

BsmtCond
   column  Encode
0     TA     0.0
1     Gd     1.0
2    NaN     NaN
3     Fa     3.0
4     Po     4.0

BsmtExposure
   column  Encode
0     No     0.0
1     Gd     1.0
2     Mn     2.0
3     Av     3.0
4    NaN     NaN

BsmtFinType1
   column  Encode
0    GLQ     0.0
1    ALQ     1.0
2    Unf     2.0
3    Rec     3.0
4    BLQ     4.0
5    NaN     NaN
6    LwQ     6.0

BsmtFinType2
   column  Encode
0    Unf     0.0
1    BLQ     1.0
2    NaN     NaN
3    ALQ     3.0
4    Rec     4.0
5    LwQ     5.0
6    GLQ     6.0

Heating
   column  Encode
0   GasA     0.0
1   GasW     1.0
2   Grav     2.0
3   Wall     3.0
4   OthW     4.0
5  Floor     5.0

HeatingQC
   column  Encode
0     Ex     0.0
1     Gd     1.0
2     TA     2.0
3     Fa     3.0
4     Po     4.0

CentralAir
   column  Encode
0      Y     0.0
1      N     1.0

Electrical
   column  Encode
0  SBrkr     0.0
1  FuseF     1.0
2  FuseA     2.0
3  FuseP     3.0
4    Mix     4.0
5    NaN     NaN

KitchenQual
   column  Encode
0     Gd     0.0
1     TA     1.0
2     Ex     2.0
3     Fa     3.0

Functional
   column  Encode
0    Typ     0.0
1   Min1     1.0
2   Maj1     2.0
3   Min2     3.0
4    Mod     4.0
5   Maj2     5.0
6    Sev     6.0

FireplaceQu
   column  Encode
0    NaN     NaN
1     TA     1.0
2     Gd     2.0
3     Fa     3.0
4     Ex     4.0
5     Po     5.0

GarageType
     column  Encode
0   Attchd     0.0
1   Detchd     1.0
2  BuiltIn     2.0
3  CarPort     3.0
4      NaN     NaN
5  Basment     5.0
6   2Types     6.0

GarageFinish
   column  Encode
0    RFn     0.0
1    Unf     1.0
2    Fin     2.0
3    NaN     NaN

GarageQual
   column  Encode
0     TA     0.0
1     Fa     1.0
2     Gd     2.0
3    NaN     NaN
4     Ex     4.0
5     Po     5.0

GarageCond
   column  Encode
0     TA     0.0
1     Fa     1.0
2    NaN     NaN
3     Gd     3.0
4     Po     4.0
5     Ex     5.0

PavedDrive
   column  Encode
0      Y     0.0
1      N     1.0
2      P     2.0

PoolQC
   column  Encode
0    NaN     NaN
1     Ex     1.0
2     Fa     2.0
3     Gd     3.0

Fence
   column  Encode
0    NaN     NaN
1  MnPrv     1.0
2   GdWo     2.0
3  GdPrv     3.0
4   MnWw     4.0

MiscFeature
   column  Encode
0    NaN     NaN
1   Shed     1.0
2   Gar2     2.0
3   Othr     3.0
4   TenC     4.0

SaleType
   column  Encode
0     WD     0.0
1    New     1.0
2    COD     2.0
3  ConLD     3.0
4  ConLI     4.0
5    CWD     5.0
6  ConLw     6.0
7    Con     7.0
8    Oth     8.0

SaleCondition
     column  Encode
0   Normal     0.0
1  Abnorml     1.0
2  Partial     2.0
3  AdjLand     3.0
4   Alloca     4.0
5   Family     5.0

### 5. View dataset after transformation

In [251]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,0.0,65.0,8450,0.0,NaN,0.0,0.0,0.0,...,0,NaN,NaN,NaN,0,2,2008,0.0,0.0,208500
1,2,20,0.0,80.0,9600,0.0,NaN,0.0,0.0,0.0,...,0,NaN,NaN,NaN,0,5,2007,0.0,0.0,181500
2,3,60,0.0,68.0,11250,0.0,NaN,1.0,0.0,0.0,...,0,NaN,NaN,NaN,0,9,2008,0.0,0.0,223500
3,4,70,0.0,60.0,9550,0.0,NaN,1.0,0.0,0.0,...,0,NaN,NaN,NaN,0,2,2006,0.0,1.0,140000
4,5,60,0.0,84.0,14260,0.0,NaN,1.0,0.0,0.0,...,0,NaN,NaN,NaN,0,12,2008,0.0,0.0,250000

### 6. Execute Inverse from numerical to categorical

In [252]:
df = label_encoder_contain_missing_values().inverse_numeric_to_categorical(table_encoder, df)

Inverse Label Encoding, from categorical to numerical completed in Successfully.

In [253]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000